# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Environment variables / secrets
.env

# Streamlit cache
.streamlit/secrets.toml

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Local generated reports
reports/

# Temporary files
*.tmp